<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>청정 에너지 부스 발곡고</title>
  </head>
  <body>
    <h1>청정 에너지<br><br></h1>
    <ol>
      <li>
      <h3>태양광 에너지 & 태양열 에너지</h3>
        <ul>
          <li>
            <p>태양광에너지는 현재 가장 주목받고 있는 청정 에너지 중 하나입니다.<br></p>

          </li>
          <li>
            <iframe width="1296" height="729" src="https://www.youtube.com/embed/IsdfmSAVPZo" title="[한화에너지가 알려주는 에너지 이야기] 태양광에너지와 태양열에너지" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br><br>
          </li>
        </ul> 
      </li>

      <br><br><br>

      <li>
        <h3>풍력 에너지</h3>
        <ul>
          <li>
            <p>풍력 에너지는 태양광 에너지와 더불어 많은 주목을 받고 있는 청정 에너지 중 하나입니다.<br></p>
          </li>
          <li>
            <iframe width="1296" height="729" src="https://www.youtube.com/embed/Y7aX8cETS0Q" title="[초등 6학년 2학기 5단원 에너지와 생활 5차시 참고 영상] 교실에서 만나는 신재생에너지: 풍력발전 편(에너지전환, 풍력 에너지)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
          </li>
        </ul>
      </li>

        <br><br><br>

      <li>
        <h3>지열 에너지</h3>
        <ul>
          <li>
            <p>지열 에너지는 현재 많은 주목을 받고 있는 청정 에너지 중 하나입니다.</p>
          </li>
          <li>
            <iframe width="1296" height="729" src="https://www.youtube.com/embed/PyoAgmV0nGo" title="[신산업 진로체험] 신재생에너지 / 초등학교 1모듈 2차시 / 중학교 1모듈 2차시 / 지열에너지" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          </li>
        </ul>
      </li>

        <br><br><br>

      <li>
        <h3>수력 에너지</h3>
        <ul>
          <li>
            <p>수력 에너지는 현재 많은 주목을 받고 있는 청정 에너지 중 하나입니다.</p>
          </li>
          <li>
            <iframe width="1296" height="729" src="https://www.youtube.com/embed/BipYSdKKmDc" title="💧물이 ⚡에너지를 만든다고? - 4강 물을 이용한 에너지 생산" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          </li>
        </ul>
      </li>

        <br><br><br>

      <li>
        <h3>바이오 에너지</h3>
        <ul>
          <li>
            <p>바이오 에너지는 현재 많은 주목을 받고 있는 청정에너지 중 하나입니다.</p>
          </li>
          <li>
            <iframe width="1296" height="729" src="https://www.youtube.com/embed/UVdZ1tGNbfs" title="버려진 폐기물이 지구를 지키는 에너지가 된다?! #바이오에너지 알아보기" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          </li>
        </ul>
      </li>
    </ol>

    
  </body>
</html>
